<!--begin::Signin-->
<div class="login-form login-signin">
    <!--begin::Form-->
    <form class="form" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form"
          (ngSubmit)="submit()">
        <!--Email-->
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder text-dark">Username</label>
            <input class="form-control form-control-solid h-auto py-5 px-5 rounded-lg"
                   name="username"
                   formControlName="username"
                   autocomplete="off"
            />
        </div>

        <!--Password-->
        <div class="form-group">
            <div class="d-flex justify-content-between mt-n5">
                <label class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>
            </div>
            <input class="form-control form-control-solid h-auto py-5 px-5 rounded-lg"
                   type="password"
                   name="password"
                   autocomplete="off"
                   formControlName="password"
            />
        </div>

        <!--Button-->
        <div class="pb-lg-0 pb-5">
            <button type="submit" id="kt_login_signin_submit"
                    class="btn btn-primary form-control-solid h-auto py-5 px-5 rounded-lg btn-login"
            > Đăng Nhập
            </button>
            <!--            <div class="text-center  my-3">-->
            <!--                <a routerLink="/auth/forgot-password" class="text-danger " style="text-decoration: underline;">Quên mật khẩu?</a>-->
            <!--            </div>-->
            <ng-container *ngIf="isLoading$ | async">
                <span class="spinner spinner-primary ml-12"></span>
            </ng-container>
        </div>
        <!--end::Action-->
    </form>
</div>
<!--end::Signin-->

<ng-template
    #formError
    let-control="control"
    let-message="message"
    let-validation="validation"
>
    <ng-container
            *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
    >
        <div class="fv-plugins-message-container">
            <div class="fv-help-block">
                {{ message }}
            </div>
        </div>
    </ng-container>
</ng-template>
